.btn {
    color: #333333;
    padding: 6px 12px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #ffffff;
}
.btn-primary {
    background-color: #337ab7;
    color: #fff;
    
}

